.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
n2khab-mne-monitoring.Rproj

/900_database_organization/inbopostgis_server.conf
/900_database_organization/data/
/900_database_organization/__pycache__/
/900_database_organization/db_structure/*.ods
/900_database_organization/loceval_outbound.ods
/900_database_organization/dump.txt
/900_database_organization/dump*.log
/900_database_organization/*.html
/900_database_organization/loceval_dbstructure.ods
/900_database_organization/loceval.dbm
/900_database_organization/reminders/
/900_database_organization/devdb_structure/
/900_database_organization/*.ods
/900_database_organization/test/
/900_database_organization/dumps/
/900_database_organization/mnmfield_dev_structure/
/900_database_organization/loceval_dev_structure/
/900_database_organization/*.ods_
/900_database_organization/archive/
/900_database_organization/mnmgwdb_dev_structure/
/900_database_organization/database_maps/
/900_database_organization/surgery/20250722_LocationInfos_init.log
/900_database_organization/Rplots.pdf
/900_database_organization/*.pdf
/900_database_organization/grab_incoming_photos.py
/900_database_organization/yad/sync_staging.sh
