.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
n2khab-mne-monitoring.Rproj

/900_database_organization/inbopostgis_server.conf
/900_database_organization/data/
/900_database_organization/__pycache__/
/900_database_organization/db_structure/*.ods
/900_database_organization/loceval_outbound.ods
/900_database_organization/dump.txt
/900_database_organization/*.html
/900_database_organization/loceval_dbstructure.ods
/900_database_organization/loceval.dbm
/900_database_organization/reminders/
/900_database_organization/devdb_structure/
/900_database_organization/*.ods
/900_database_organization/test/
